*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/img/bg5.jpg);
    height: 210vh;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.467);
    background-blend-mode: darken;
}

header h1{
    text-align: center;
    color: rgb(249, 228, 228);
    margin-top: 1rem;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10rem;
    margin-left: 25px;
    margin-right: 25px;
    gap: 10rem;
    align-items: center;
    justify-content: center;


}

.buku1 {
    border: 2px solid rgb(255, 255, 255);
    padding: 13% 10rem;
    border-radius: 20px;
    background-image: url(/img/buku1.jpg);
    color: rgba(249, 228, 228, 0);
    background-position: center;
  } 
  .buku2 {
    border: 2px solid rgb(255, 255, 255);
    padding: 13% 10rem;
    border-radius: 20px;
    background-image: url(/img/buku2.jpg);
    color: rgba(249, 228, 228, 0);
    background-position: center;
    background-size: cover;
  } 
  .buku3 {
    border: 2px solid rgb(255, 255, 255);
    padding: 13% 10rem;
    border-radius: 20px;
    background-image: url(/img/buku3.jpg);
    background-position: center;
    background-size: cover;
    color: rgba(255, 255, 255, 0);
  } 
  .buku4 {
    border: 2px solid rgb(255, 255, 255);
    padding: 13% 10rem;
    border-radius: 20px;
    background-image: url(/img/buku4.jpg);
    background-position: center;
    background-size: cover;
    color: rgba(249, 228, 228, 0);
    
  } 
  .buku5 {
    border: 2px solid rgb(255, 255, 255);
    padding: 13% 10rem;
    border-radius: 20px;
    background-image: url(/img/buku5.jpg);
    background-position: center;
    background-size: cover;
    color: rgba(249, 228, 228, 0);
  } 
  .buku6 {
    border: 2px solid rgb(255, 255, 255);
    padding: 13% 10rem;
    border-radius: 20px;
    background-image: url(/img/buku6.jpg);
    background-position: center;
    background-size: cover;
    
  } 
  .buku7 {
    border: 2px solid rgb(255, 255, 255);
    padding: 13% 10rem;
    border-radius: 20px;
    background-image: url(/img/buku7.jpg);
    background-position: center;
    background-size: cover;
    
  } 
  .buku8 {
    border: 2px solid rgb(255, 255, 255);
    padding: 13% 10rem;
    border-radius: 20px;
    background-image: url(/img/buku8.jpg);
    background-position: center;
    background-size: cover;
    
  } 
  .buku9 {
    border: 2px solid rgb(255, 255, 255);
    padding: 13% 10rem;
    border-radius: 20px;
    background-image: url(/img/buku12.jpg);
    background-position: center;
    background-size: cover;
    
  } 
  
  
